<nav class="flex items-center justify-between flex-wrap py-4">
  <a href="/" class="text-gray-700 font-semibold text-xl tracking-loose">Alex Logsdon</a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {% for entry in navPages %}
      <li class="inline">
        <a
         href="{{ entry.url }}"
         class="text-sm rounded ml-4 inline-block
         {{'text-indigo-400' if entry.url in page.url
         else 'text-gray-700 hover:text-indigo-400'}}">
         {{ entry.title }}
       </a>
      </li>
    {% endfor %}
 </ul>
</nav>
