@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Young Serif";
        font-style: normal;
        font-weight: 400;
        src: url(../fonts/youngserif-regular-webfont.eot); /* IE9 Compat Modes */
        src: local(''),
             url(../fonts/youngserif-regular-webfont.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
             url(../fonts/youngserif-regular-webfont.woff2) format("woff2"), /* Super Modern Browsers */
             url(../fonts/youngserif-regular-webfont.woff) format("woff"), /* Modern Browsers */
             url(../fonts/youngserif-regular-webfont.ttf) format("truetype"), /* Safari, Android, iOS */
             url(../fonts/youngserif-regular-webfont.svg#GoudyBookletter1911) format("svg"); /* Legacy iOS */
      }
    h1 {
        @apply font-display text-4xl mb-8 leading-snug;
    }
    @screen sm {
      h1 {
          @apply font-display text-6xl mb-8 leading-snug;
        }
    }
    h2 {
        @apply text-2xl mb-2 leading-snug;
    }
    @screen sm {
      h2 {
          @apply text-4xl mb-2 leading-snug;
        }
    }
    ul {
        @apply list-disc pl-5;
      }
    li {
        @apply mb-3;    
      }
    p {
        @apply max-w-prose;
      }
    a {
        @apply hover:underline text-indigo-500;
    }
  }
