@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl md:text-5xl;
        @apply mb-8;
        @apply leading-snug;
        @apply font-serif;
      }
    h2 {
        @apply text-2xl md:text-4xl;
        @apply mb-3;
        @apply leading-snug;
        @apply font-serif;

    }
    ul {
        @apply list-disc pl-5;
    }
    p {
        @apply max-w-prose;
      }
    a {
        @apply hover:underline;
    }
    @font-face {
        font-family: GoudyBookletter1911;
        font-style: normal;
        font-weight: 400;
        src: local(),
             url(/src/fonts/goudy-bookletter-1911-v10-latin-regular.woff2) format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
             url(/src/fonts/goudy-bookletter-1911-v10-latin-regular.woff) format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
  }