<!doctype html>
<html lang="en" class="px-4 sm:px-12 max-w-screen-xl mx-auto">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main class="text-gray-700 py-8 sm:py-24 text-m sm:text-lg leading-relaxed sm:text-l sm:leading-relaxed">
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>