---
title: Contact
layout: layouts/base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 2
---

<article>
New bio description that's shorter and focuses on key words like: Cognitive psych, Plain language, Education, Information experiences, User/reader focused. or... human means i think about: plain lang, cog psych, etc.
<br>
<ul>
     {% for item in contact.items %}
     <li><a href="{{ item.link }}">{{ item.name }}</a></li>
     {% endfor %}
</ul>
</article>