---
title: Home
layout: layouts/home.njk
---

<div class="space-y-8">

  <h1 class="text-5xl mb-8 leading-tight">
  I'm a writer & designer who<br>makes complex information more human.
  <br>
  ↓
  </h1>

  <img src="/img/profile-anatomy.png" alt="A diagram illustrating the anatomy of a generic dating profile app, with written descriptions for each section.">

  <div>
    <p>This is the project's home page. There is a little styling for demonstration purposes only.</p>
    <p>The navigation might as well be a sidebar, or a floating menu. This template provides the structure, make it yours ✌️</p>
  </div>
  

  <a href="https://github.com/tomreinert/minimal-11ty-tailwind-starter" class="inline-block uppercase rounded bg-blue-600 hover:bg-blue-700 px-4 py-2 text-white text-sm">Download on github</a>
</div>
