---
title: Home
layout: layouts/base.njk
---

<div class="space-y-32">

  <div>
    <h1>
      I'm a designer & writer who makes complex information more <span class="text-indigo-500">human.</span>
    </h1>
    <br>
    <h2>
    <hr class="border-2	border-gray-300 my-5">
      view <a href="">information design work&nbsp→</a> 
    <br><hr class="border-2	border-gray-300 my-5">
      read <a href="">technical documentation&nbsp→</a> 
    <br><hr class="border-2	border-gray-300 my-5">
    or keep scrolling for the highlights ↓
    </h2>
  </div>
 
  <br><br>

<div class="space-x-5">
  <div class="inline-block max-w-md">
  <a href="/dating-profiles-for-humans/">
  <img src="/img/profile-anatomy.png" alt="A diagram illustrating the anatomy of a generic dating profile app, with written descriptions for each section."></a>
  <br><br>
  <a href="/dating-profiles-for-humans/">
  <h1>Dating Profiles for Humans&nbsp→</h1></a>
  <h2>A conversational, step-by-step guide to writing a dating profile</h2>
    <br>
    <article class="mx-0">
    <ul> 
    <li>Wrote clear, informative instructions while maintaining a conversational and relatable tone.</li>
    <li>Crafted the copy, structure, and visual design to work together seamlessly.</li>
    <li>Conducted user tests at various stages of development.</li> 
  </ul></article>
 </div>
  
  <div class="inline-block max-w-md">
  <a href="/experience-narratives/">
  <img src="/img/experience-diagram.png" alt="An abstract diagram that maps a vistor's journey through a brand experience from beginning to end. The 3 steps are 'Meet,' 'Explore Together,' and 'Act.'"></a>
  <br><br>
  <a href="/experience-narratives/">
  <h1>Experience Narratives&nbsp→</h1></a>
  <h2>Brand experience concept designed with Jack Rouse Associates</h2>
    <br>
    <article class="mx-0">
    <ul> 
    <li>Spoke to the guest's perspective (rather than their corporate point of view).</li>
    <li>Synthesized an abundance of research and information that had been collected.</li>
    <li>Used information design to communicate the interdisciplinary design team's ideas. Forms included diagrams, text analysis, written outlines, and slide presentations. These facilitated more effective discussions during client meetings.</li> 
  </ul></article>
  </div>

  <div class="inline-block max-w-md">
  <a href="/letters-from-mars/">
  <img src="/img/exhibit-render.png" alt="A rendering of a museum exhibit with red walls, gold lettering, and tall gold display structures."></a>
  <br><br>
  <a href="/letters-from-mars/">
  <h1>Letters from Mars&nbsp→</h1></a>
  <h2>Museum exhibit proposal</h2>
    <br>
    <article class="mx-0">
    <ul> 
    <li>Transformed dense medieval texts into an engaging interactive experience. It uses science fiction to encourage visitors to look at historical artifacts using their imagination.</li>
    <li>Structured the exhibit to guide the user through a learning experience: "Curiosity," "discovery," then "understanding."</li>
    <li>Integrated techniques used by history educators.</li> 
    <li>Wrote the exhibit script.</li>
  </ul></article>
  </div>

</div>

</div>
