---
title: Home
layout: layouts/base.njk
---

<div class="space-y-20">

  <h1>
  I'm a writer & designer who <br class="hidden md:block">makes complex information more human.
  <br>
  ↓
  </h1>
 
  <br>

  <div>
  <a href="/dating-profiles-for-humans/">
  <img src="/img/profile-anatomy.png" alt="A diagram illustrating the anatomy of a generic dating profile app, with written descriptions for each section."></a>
  <br>
  <a href="/dating-profiles-for-humans/" class="text-orange mb-2">
  <h2>Dating Profiles for Humans → </h2></a>
  <p class ="font-bold">A conversational, step-by-step guide to writing a dating profile</p>
    <br>
  <ul> 
    <li>Wrote clear, informative instructions while maintaining a conversational and relatable tone.</li>
    <li>Crafted the copy, structure, and visual design to work together seamlessly.</li>
    <li>Conducted user tests at various stages of development.</li> 
  </ul>
 </div>
  
  <div>
  <a href="/experience-narratives/">
  <img src="/img/experience-diagram.png" alt="A diagram illustrating the anatomy of a generic dating profile app, with written descriptions for each section."></a>
    <br>
  <a href="/experience-narratives/" class="text-orange mb-2">
  <h2>Experience Narratives →</h2></a>
  <p class ="font-bold">Brand experience concept designed with Jack Rouse Associates</p>
    <br>
  <ul> 
    <li>Spoke to the guest's perspective (rather than their corporate point of view).</li>
    <li>Synthesized an abundance of research and information that had been collected.</li>
    <li>Used information design to communicate the interdisciplinary design team's ideas. Forms included diagrams, text analysis, written outlines, and slide presentations. These facilitated more effective discussions during client meetings.</li> 
  </ul>
  </div>

  <div>
  <a href="/letters-from-mars/">
  <img src="/img/exhibit-render.png" alt="A diagram illustrating the anatomy of a generic dating profile app, with written descriptions for each section."></a>
    <br>
  <a href="/letters-from-mars/" class="text-orange">
  <h2>Letters from Mars →</h2></a>
  <p class ="font-bold">Museum exhibit proposal</p>
    <br>
  <ul> 
    <li>Transformed dense medieval texts into an engaging interactive experience. It uses science fiction to encourage visitors to look at historical artifacts using their imagination.</li>
    <li>Structured the exhibit to guide the user through a learning experience: "Curiosity," "discovery," then "understanding."</li>
    <li>Integrated techniques used by history educators.</li> 
    <li>Wrote the exhibit script.</li>
  </ul>
  </div>

<a href="https://github.com/tomreinert/minimal-11ty-tailwind-starter" class="inline-block uppercase rounded bg-blue-600 hover:bg-blue-700 px-4 py-2 text-white text-sm">Download on github</a>

</div>
